//
// home.scss
//

/* ------- Demo 2 wave animation --------- */

.wave {
    @apply absolute left-0 w-[200%] h-full;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}

.wave-one {
    background-size: 50% 100px;
}

.wave-anim .wave-one {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.wave-two {
    background-size: 50% 120px;
}
.wave-anim .wave-two {
    animation: move_wave 10s linear infinite;
}
.wave-three {
    background-size: 50% 100px;
}
.wave-anim .wave-three {
    animation: move_wave 15s linear infinite;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1);
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55);
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1);
    }
}



// svg pattern
.svg-pattern {
    @apply w-full relative;
}

// Work Process Icon Line
// .plan-line:before {
//     @apply content-[''] absolute hidden border border-dashed border-gray-300 w-2/3 left-2/3 top-[50px] lg:block;
// }